@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-style{
    @apply bg-[#232946] p-4 w-full fixed top-0 left-0 z-50;
}
.content-style{
    @apply p-5 max-w-3xl 
            mx-auto flex justify-center items-center; 
}
.main-header{
    @apply font-nunito text-font_color text-3xl font-light;
}
.text-info{
    @apply font-nunito text-font_color font-light;
}
.link-style{
    @apply font-nunito text-font_color hover:text-white px-3;
}
.spacer-bar{
    @apply mt-20;
}
.upload-components{
    @apply block p-5;
}
.file_input{
    @apply w-64 bg-accent2_color rounded-2xl;
}
.navbar_text{
    @apply font-nunito text-font_color font-bold;
}
/* 
    colors:
        PRIMARY COLOR: #1E1B34
        SECONDARY COLOR: #0D0D0D
        FONT-COLOR: #E0E0FF
        NAV BAR COLOR: #232946
        ACCENT COLOR 1: #3B3C50
        ACCENT COLOR 2: #42C8F4
        
    font-sizes:
        text-xs – Extra small
        text-sm – Small
        text-base – Normal (base)
        text-lg – Large
        text-xl – Extra large
        text-2xl – 2x large
        text-3xl – 3x large
        text-4xl – 4x large
        text-5xl – 5x large
        text-6xl – 6x large
*/